/* Contacts */
.team {
  text-align: center;
}
.teamTitle {
  font-weight: 700;
  letter-spacing: 0.02em;
}
.teamLine {
  display: inline-block;
  margin-top: 0;
  border: none;
  background-color: #e2e3e5;
  height: 1px;
}
.teamList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -10px;
}
.teamItem {
  margin: 10px;
}
.personPhoto {
  object-fit: cover;
}
.aboutPerson {
  text-align: left;
  background-color: var(--primaryWhiteColor);
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.05));
}
.personName {
  margin-bottom: 6px;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
}
.personPosition {
  margin-bottom: 10px;
  color: var(--textColor);
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 12px;
  line-height: 1;
}
.personText {
  font-weight: 400;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .team {
    padding: 40px 20px 56px 20px;
  }
  .teamTitle {
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 10px;
  }
  .teamLine {
    width: 130px;
    margin-bottom: 20px;
  }
  .teamItem {
    width: 280px;
  }
  .personPhoto {
    width: 280px;
    height: 244px;
  }
  .aboutPerson {
    padding: 20px 20px 22px 20px;
  }
  .personText {
    font-size: 12px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 768px) {
  .team {
    padding: 41px 22px 76px 22px;
  }
  .teamTitle {
    font-size: 22px;
    line-height: 1.36;
    margin-bottom: 22px;
  }
  .teamLine {
    width: 130px;
    margin-bottom: 39px;
  }
  .teamItem {
    width: 352px;
  }
  .personPhoto {
    width: 352px;
    height: 244px;
  }
  .aboutPerson {
    padding: 21px 30px;
  }
  .personText {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1280px) {
  .team {
    padding: 40px 20px 65px 20px;
  }

  .teamItem {
    width: 232px;
  }
  .personPhoto {
    width: 232px;
    height: 244px;
  }
  .aboutPerson {
    padding: 21px 29px;
    height: 162px;
  }
  .personName {
    font-weight: 700;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.3;
  }
  .personText {
    font-size: 12px;
    line-height: 1.3;
  }
}
