// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
.mainConteiner {
  display: block;
  margin: auto;
  max-width: 320px;
  padding: 30px 20px 40px 20px;
  text-align: center;

  @media screen and(min-width: 768px) {
    padding: 41px 59px 107px 59px;
    max-width: 768px;
  }
  @media screen and(min-width: 1280px) {
    padding: 40px 210px 60px 210px;
    max-width: 1280px;
  }
}
.title {
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 12px;
  line-height: 2.5;

  @media screen and(min-width: 768px) {
    font-size: 22px;
    line-height: 1.36;
    margin-bottom: 10px;
  }
}
.textContent1 {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 10px;

  @media screen and(min-width: 768px) {
    font-size: 14px;
    margin-bottom: 30px;
  }
}
.lineHorizontal {
  display: inline-block;
  margin-top: 0;
  border: none;
  background-color: #e2e3e5;
  height: 1px;
  width: 130px;
  // margin-bottom: 12px;

  @media screen and(min-width: 768px) {
    width: 322px;
    // margin-bottom: 40px;
  }
}
.imgGraf {
  margin-right: auto;
  margin-left: auto;
  font-size: 10px;
  // width: 180px;
  max-width: 320px;
  @media screen and(min-width: 768px) {
    font-size: 25px;
  }
}

.resultTextContent {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 20px;
  // gap: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 9px;
  line-height: 1.2;
  @media screen and(min-width: 768px) {
    // margin-top: 30px;
    font-size: 16px;
    line-height: 1.25;
  }
  span {
    font-weight: 700;
  }
  p {
    padding: 0;
    margin: 0;
  }
}

.lineVertical {
  display: inline-block;
  border-right: solid 1px#e2e3e5;
  height: 20px;
  margin: 0 10px;
  @media screen and (min-width: 768px) {
    height: 20px;
    margin: 0 20px;
  }
}
.catImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
  width: 120px;
  height: 120px;
  @media screen and(min-width: 768px) {
    width: 176px;
    height: 176px;
    margin-top: 29px;
  }
}
.grateText {
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 21px;

  @media screen and(min-width: 768px) {
    font-size: 22px;
    line-height: 1.36;
    margin-top: 10px;
  }
}
.sentenceText {
  margin-top: 10px;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 9px;
  line-height: 1.2;

  @media screen and(min-width: 768px) {
    font-size: 20px;
    line-height: 1.2;
  }
}
.btnTryAgain {
  width: 190px;
  height: 48px;
  margin-top: 22px;

  color: var(--primaryWhiteColor);
  background-color: var(--OrangeColor);
  border: none;

  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.2;

  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.02);
  }

  @media screen and(min-width: 768px) {
    margin-top: 47px;
  }
}
