:root {
  --primaryBlackColor: #000000;
  --primaryWhiteColor: #ffffff;
  --textColor: #555555;
  --bgColor: #f5f6fb;
  --OrangeColor: #ff6b09;
  --blueBGColor: #02172a;
  --footerTextColor: rgba(255, 255, 255, 0.4);
  --boxShadow: 0px 1px 1px rgba(18, 29, 46, 0.1);
  --boxShadowModal: 0px 4px 15px rgba(2, 23, 42, 0.1);

  /* --transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--bgColor);
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

/* Header */

.header {
  background-color: var(--bgColor);
  border-bottom: solid 1px #bbbbbb;
}

.logo {
  width: 129px;
  height: 28px;
}

.mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Мобилка */
@media screen and (max-width: 767px) {
  .navigation {
    padding: 20px 21px;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  .mobile-menu {
    display: none;
    position: absolute;
    z-index: 1;
    top: 71px;
    left: 0;
    width: 100vw;
    height: 100vw;
    text-align: center;
  }

  .is-open {
    display: block;
  }

  .mobile-menu .item {
    background-color: var(--bgColor);
    border-top: solid 1px #bbbbbb;
    padding: 26px 118px;
  }
  .mobile-menu .link {
    position: relative;
    display: inline-block;
    color: var(--primaryBlackColor);
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 0.42;
  }

  .current::after {
    content: "";
    display: block;
    position: absolute;

    top: 10px;
    left: 0;

    background-color: var(--OrangeColor);
    background-size: auto;
    width: 100%;
    height: 1px;
    cursor: pointer;
  }

  .name-button {
    position: absolute;
    top: 20px;
    right: 75px;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
    fill: var(--primaryWhiteColor);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    box-shadow: var(--boxShadow);
  }

  .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .menu-button:hover,
  .menu-button:focus {
    fill: var(--OrangeColor);
  }

  .cross-icon {
    display: none;
  }

  .is-open .cross-icon {
    display: block;
  }

  .is-open .menu-icon {
    display: none;
    text-align: center;
  }
}

/* Планшет */

@media screen and (min-width: 768px) {
  .navigation {
    justify-content: flex-start;
  }
  .mobile-menu {
    margin-left: 65px;
    padding: 0;
    display: flex;
  }
  .mobile-menu .item {
    margin-right: 70px;
    justify-content: center;
    /* align-items: center; */
  }

  .menu-button {
    display: none;
  }
}

/* Десктоп */
@media screen and (min-width: 1280px) {
  .mobile-menu {
    justify-content: space-between;
  }
}

/* Home-register-login */
.homeLoginTitle {
  font-weight: 800;
  letter-spacing: 0.02em;
}

.homeText {
  color: var(--textColor);
  font-weight: 500;
  letter-spacing: 0.02em;
}

.homeAccent {
  color: var(--primaryBlackColor);
  font-weight: 700;
  letter-spacing: 0.02em;
}

.formRegister {
  background-color: var(--primaryWhiteColor);
  box-shadow: var(--boxShadowModal);
}

.buttonGoogle {
  display: inline-block;
  margin-bottom: 30px;
  padding: 17px 38px;
  width: 159px;
  height: 51px;

  background-color: #fafafa;
  background-image: url(./img/google.png);
  background-size: 84px 18px;
  background-repeat: no-repeat;
  background-position: center center;

  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
  border: none;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonGoogle:focus,
.buttonGoogle:hover {
  transform: scale(1.06);
}

.authorizeTitle {
  font-weight: 500;
  line-height: 1, 2;
}

.formInput {
  padding: 20px 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  width: 100%;

  border: 1px solid #bbbbbb;
}

.formLabel {
  display: block;
}

.signButtons {
  display: flex;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  color: var(--primaryBlackColor);
  background-color: var(--primaryWhiteColor);
  border: 1px solid #bbbbbb;
  outline: none;

  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus,
.button:hover {
  transform: scale(1.06);
}

.signin {
  margin-right: 20px;
}

.buttonActive {
  color: var(--primaryWhiteColor);
  background-color: var(--OrangeColor);
  border: 1px solid var(--OrangeColor);
}

@media screen and (max-width: 767px) {
  .homeLogin {
    padding: 39px 20px 50px 20px;
  }

  .homeLoginTitle {
    font-size: 20;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .homeText {
    font-size: 12px;
    line-height: 1.7;
    margin-bottom: 30px;
  }

  .homeAccent {
    font-size: 12px;
    line-height: 1.7;
  }

  .formRegister {
    padding: 30px 20px;
    text-align: center;
  }

  .authorizeTitle {
    margin-bottom: 20px;
    font-size: 10px;
    line-height: 1, 2;
  }

  .formEmail {
    margin-bottom: 20px;
  }

  .formPassword {
    margin-bottom: 20px;
  }

  .button {
    padding: 10px 15px;
    width: 109px;
    height: 60px;

    font-size: 10px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) {
  .homeLogin {
    padding: 80px 114px 70px 114px;
  }

  .homeLoginTitle {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .homeText {
    font-size: 16px;
    line-height: 2.25;
    margin-bottom: 50px;
  }

  .homeAccent {
    font-size: 16px;
    line-height: 2.25;
  }

  .formRegister {
    padding: 62px 57px;
    text-align: left;
    width: 539px;
  }

  .authorizeTitle {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1, 2;
  }

  .formInput {
    width: 423px;
  }

  .formEmail {
    margin-bottom: 24px;
  }

  .formPassword {
    margin-bottom: 40px;
  }

  .button {
    display: block;
    padding: 23px 46px;
    margin: 0;

    width: 202px;
    height: 60px;

    font-size: 15px;
    line-height: 1.25;
  }

  .signin {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .homeLogin {
    display: flex;
    padding: 99px 125px;
  }

  .proTest {
    margin-right: 105px;
  }

  .homeLoginTitle {
    margin-top: 71px;
    font-size: 34px;
  }

  .homeText {
    font-size: 18px;
    line-height: 2;
    margin-bottom: 0;
  }

  .homeAccent {
    font-size: 18px;
    line-height: 2;
  }

  .formRegister {
    padding: 62px 40px;
    text-align: left;
    width: 505px;
  }
}

/* Home */
.home {
  text-align: center;
}

.homeTitle {
  font-weight: 700;
  letter-spacing: 0.02em;
}

.homeLine {
  margin-top: 0;
  border: none;
  background-color: #e2e3e5;
  height: 1px;
}

.homeName {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.homeCompany {
  color: var(--textColor);
  font-weight: 500;
  letter-spacing: 0.02em;
}

.homeButton {
  color: var(--primaryWhiteColor);
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.02em;
  border: none;
  filter: drop-shadow(0px 4px 15px rgba(18, 29, 46, 0.15));

  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.homeButton:focus,
.homeButton:hover {
  transform: scale(1.02);
}

.training {
  background-color: var(--blueBGColor);
}

.theory {
  background-color: var(--OrangeColor);
}

.arrow {
  margin-top: 25px;
  fill: var(--primaryWhiteColor);
}

@media screen and (max-width: 767px) {
  .home {
    padding: 30px 20px 33px 20px;
  }

  .homeTitle {
    font-size: 12px;
    line-height: 1.67;
    padding-bottom: 20px;
  }

  .homeLine {
    width: 130px;
    margin-bottom: 20px;
  }

  .homeName {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
  }

  .homeCompany {
    margin-bottom: 40px;
    font-size: 10px;
    line-height: 1.2;
  }

  .homeButton {
    width: 280px;
    height: 212px;
    padding: 60px 51px;
    font-size: 24px;
    line-height: 1.2;
  }

  .training {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .home {
    padding: 80px 58px 112px 58px;
  }

  .homeTitle {
    font-size: 22px;
    line-height: 1.36;
    padding-bottom: 30px;
  }

  .homeLine {
    width: 322px;
    margin-bottom: 13px;
  }

  .homeName {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 2;
  }

  .homeCompany {
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 2.57;
  }

  .homeButton {
    width: 400px;
    height: 212px;
    padding: 60px 13px;
    font-size: 30px;
    line-height: 1.2;
  }

  .arrow {
    margin-top: 10px;
  }

  .training {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .home {
    padding: 122px 230px 114px 230px;
  }

  .homeCompany {
    margin-bottom: 84px;
  }

  .homeButton {
    width: 397px;
    margin: 0;
  }

  .training {
    margin-right: 20px;
  }
}

/* Testing */

.testingHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testingTheory {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.testFinish {
  height: 48px;
  color: var(--primaryWhiteColor);
  background-color: var(--OrangeColor);
  border: none;

  font-weight: 500;
  letter-spacing: 0.02em;

  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.testFinish:focus,
.testFinish:hover {
  transform: scale(1.02);
}

.testingField {
  background-color: var(--primaryWhiteColor);
  box-shadow: var(--boxShadowModal);
  margin-bottom: 20px;
}
.testingQuestion {
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--textColor);
}

.testingAnswers {
  font-weight: 700;
  color: var(--OrangeColor);
}

.testingQuestionText {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
}

.testingLine {
  margin-top: 0;
  border: none;
  background-color: #e2e3e5;
  height: 1px;
}

.answerText {
  display: inline-block;
  vertical-align: top;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-left: 20px;
}

.idontknow {
  margin-top: 20px;
}

.testingInput {
  position: relative;
}

.testingInput::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transform: translate(-40%, -40%);
  background-color: white;
  border: 1px solid var(--primaryBlackColor);
}
.testingInput:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--OrangeColor);
  transform: translate(-31%, -31%);
  visibility: visible;
}

.questionButtonContainer {
  display: flex;
  justify-content: space-between;
}

.questionButton {
  height: 34px;
  color: var(--primaryBlackColor);
  background-color: var(--primaryWhiteColor);
  border: none;

  font-weight: 500;
  letter-spacing: 0.02em;

  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.questionButton:focus,
.questionButton:hover {
  color: var(--primaryWhiteColor);
  background-color: var(--OrangeColor);
  fill: var(--primaryWhiteColor);
  outline: none;
  transform: scale(1.02);
}

@media screen and (max-width: 767px) {
  .testing {
    padding: 24px 20px 20px 20px;
  }

  .testingHeader {
    margin-bottom: 20px;
  }

  .testingTheory {
    font-size: 14px;
    line-height: 1.2;
  }

  .testFinish {
    width: 130px;
    padding: 17px 14px;

    font-size: 10px;
    line-height: 1.2;
  }

  .testingField {
    padding: 40px 20px 60px 20px;
  }
  .testingQuestion {
    font-size: 10px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .testingQuestionText {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.5;
  }

  .testingLine {
    width: 130px;
    margin-bottom: 28px;
  }

  .answerText {
    width: 202px;
    margin-top: 6px;

    font-size: 10px;
    line-height: 1.2;
  }

  .questionButton {
    width: 55px;
    padding: 5px 15px;
    font-size: 10px;
    line-height: 1.2;
  }

  .buttonText {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .testing {
    padding: 42px 58px 271px 58px;
  }

  .testingHeader {
    margin-bottom: 20px;
  }

  .testingTheory {
    font-size: 22px;
    line-height: 1.2;
  }

  .testFinish {
    width: 190px;
    padding: 17px 35px;

    font-size: 14px;
    line-height: 1.2;
  }

  .testingField {
    padding: 50px 37px 58px 57px;
  }
  .testingQuestion {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 5px;
  }

  .testingQuestionText {
    font-size: 22px;
    line-height: 1.36;
    margin-bottom: 30px;
  }

  .testingLine {
    width: 322px;
    margin-bottom: 30px;
  }

  .answerText {
    width: 516px;
    margin-top: 1px;

    font-size: 16px;
    line-height: 1.25;
  }

  .questionButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    padding: 12px 20px;
    font-size: 12px;
    line-height: 1.25;
  }

  .buttonText {
    display: inline-block;
  }
}

@media screen and (min-width: 1280px) {
  .testing {
    padding: 40px 230px 97px 230px;
  }

  .testingHeader {
    margin-bottom: 28px;
  }

  .testingField {
    padding: 50px 86px 58px 86px;
  }

  .answerText {
    width: 610px;
    margin-top: 1px;
  }

  .questionButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    padding: 12px 20px;
    font-size: 12px;
    line-height: 1.25;
  }

  .buttonText {
    display: inline-block;
  }
}

/* Results */

.results {
  text-align: center;
}
.resultsTitle {
  font-weight: 700;
  letter-spacing: 0.02em;
}
.resultsTheory {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-transform: uppercase;
}
.resultsLine {
  display: inline-block;
  margin-top: 0;
  border: none;
  background-color: #e2e3e5;
  height: 1px;
}
.resultsDiagram {
  display: inline-block;
  text-align: center;
}
.questions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.questionsText {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.questionsSeparator {
  display: inline-block;
  border-right: solid 1px#e2e3e5;
}
.numbers {
  font-weight: 700;
}
.cat {
  display: inline-block;
  text-align: center;
}
.resultsVerdict {
  font-weight: 700;
  letter-spacing: 0.02em;
}
.resultsAdvice {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.resultsButton {
  width: 190px;
  height: 48px;

  color: var(--primaryWhiteColor);
  background-color: var(--OrangeColor);
  border: none;

  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.2;

  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.resultsButton:focus,
.resultsButton:hover {
  transform: scale(1.02);
}

@media screen and (max-width: 767px) {
  .results {
    padding: 30px 20px 40px 20px;
  }
  .resultsTitle {
    font-size: 12px;
    line-height: 2.5;
  }
  .resultsTheory {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .resultsLine {
    width: 130px;
    margin-bottom: 12px;
  }
  .resultsDiagram {
    width: 156px;
    height: 156px;
    margin-bottom: 20px;
  }
  .questions {
    margin-bottom: 17px;
  }
  .questionsText {
    font-size: 9px;
    line-height: 1.2;
  }
  .questionsSeparator {
    height: 20px;
    margin: 0 10px;
  }
  .cat {
    width: 120px;
    height: 120px;
    margin-bottom: 21px;
  }
  .resultsVerdict {
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 10px;
  }
  .resultsAdvice {
    font-size: 9px;
    line-height: 1.2;
    margin-bottom: 22px;
  }
}

@media screen and (min-width: 768px) {
  .results {
    padding: 41px 59px 107px 59px;
  }
  .resultsTitle {
    font-size: 22px;
    line-height: 1.36;
  }
  .resultsTheory {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .resultsLine {
    width: 322px;
    margin-bottom: 40px;
  }
  .resultsDiagram {
    width: 285px;
    height: 285px;
    margin-bottom: 30px;
  }
  .questions {
    margin-bottom: 29px;
  }
  .questionsText {
    font-size: 16px;
    line-height: 1.25;
  }
  .questionsSeparator {
    height: 20px;
    margin: 0 20px;
  }
  .cat {
    width: 176px;
    height: 176px;
    margin-bottom: 10px;
  }
  .resultsVerdict {
    font-size: 22px;
    line-height: 1.36;
    margin-bottom: 10px;
  }
  .resultsAdvice {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 47px;
  }
}

@media screen and (min-width: 1280px) {
  .results {
    padding: 40px 210px 60px 210px;
  }
}

/* Materials */
.materials {
  background-color: var(--primaryWhiteColor);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.materialsTitle {
  font-weight: 700;
  letter-spacing: 0.02em;
}
.materialsLine {
  display: inline-block;
  margin-top: 0;
  border: none;
  background-color: #e2e3e5;
  height: 1px;
  text-align: left;
}
.literature {
  margin-bottom: 36px;
}
.materialsList .item {
  list-style-type: decimal;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.materialsList .text {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.materialsList .link {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .materials {
    padding: 40px 20px;
    background-image: url(./img/cactus_mob.jpg);
  }
  .materialsTitle {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .materialsLine {
    width: 150px;
    margin-bottom: 10px;
  }
  .materialsList {
    padding-right: 95px;
    padding-left: 13px;
  }
  .materialsList .item {
    font-size: 10px;
    line-height: 1.6;
  }

  .materialsList .text {
    font-size: 10px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 768px) {
  .materials {
    padding: 119px 115px 472px 115px;
    background-image: url(./img/cactus_tabl.jpg);
    background-size: cover;
  }
  .materialsTitle {
    font-size: 22px;
    line-height: 1.36;
    margin-bottom: 22px;
  }
  .materialsLine {
    width: 320px;
    margin-bottom: 25px;
  }
  .materialsList {
    padding-right: 95px;
    padding-left: 13px;
    margin-left: 60px;
  }

  .materialsList .item {
    font-size: 14px;
    line-height: 1.57;
    padding-right: 60px;
  }

  .materialsList .text {
    font-size: 14px;
    line-height: 1.57;
  }
}

@media screen and (min-width: 1280px) {
  .materials {
    padding: 98px 190px 262px 190px;
    background-image: url(./img/cactus_desc.jpg);
    background-size: cover;
  }

  .materialsList .item {
    padding-right: 420px;
  }
}

/* Contacts */
.team {
  text-align: center;
}
.teamTitle {
  font-weight: 700;
  letter-spacing: 0.02em;
}
.teamLine {
  display: inline-block;
  margin-top: 0;
  border: none;
  background-color: #e2e3e5;
  height: 1px;
}
.teamList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -10px;
}
.teamItem {
  margin: 10px;
}
.personPhoto {
  object-fit: cover;
}
.aboutPerson {
  text-align: left;
  background-color: var(--primaryWhiteColor);
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.05));
}
.personName {
  margin-bottom: 6px;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
}
.personPosition {
  margin-bottom: 10px;
  color: var(--textColor);
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 12px;
  line-height: 1;
}
.personText {
  font-weight: 400;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .team {
    padding: 40px 20px 56px 20px;
  }
  .teamTitle {
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 10px;
  }
  .teamLine {
    width: 130px;
    margin-bottom: 20px;
  }
  .teamItem {
    width: 280px;
  }
  .personPhoto {
    width: 280px;
    height: 244px;
  }
  .aboutPerson {
    padding: 20px 20px 22px 20px;
  }
  .personText {
    font-size: 12px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 768px) {
  .team {
    padding: 41px 22px 76px 22px;
  }
  .teamTitle {
    font-size: 22px;
    line-height: 1.36;
    margin-bottom: 22px;
  }
  .teamLine {
    width: 130px;
    margin-bottom: 39px;
  }
  .teamItem {
    width: 352px;
  }
  .personPhoto {
    width: 352px;
    height: 244px;
  }
  .aboutPerson {
    padding: 21px 30px;
  }
  .personText {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1280px) {
  .team {
    padding: 40px 20px 65px 20px;
  }

  .teamItem {
    width: 232px;
  }
  .personPhoto {
    width: 232px;
    height: 244px;
  }
  .aboutPerson {
    padding: 21px 29px;
    height: 162px;
  }
  .personName {
    font-weight: 700;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.3;
  }
  .personText {
    font-size: 12px;
    line-height: 1.3;
  }
}

/* Footer */
.footer {
  background-color: var(--blueBGColor);
  text-align: center;
  width: 100%;
}

.footer-text {
  color: var(--footerTextColor);
  font: weight 400px;
  letter-spacing: 0.04em;
}

.copyright {
  font-weight: 500;
  font-size: 20px;
  vertical-align: middle;
}

.footer-icon {
  display: inline-block;
  fill: var(--OrangeColor);
  vertical-align: text-bottom;
  margin: 5px 2px 0px 2px;
}

.footer-contacts {
  color: var(--footerTextColor);
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 767px;
    padding: 10px 18px;
    width: 100%;
  }

  .footer-text {
    font-size: 10px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    min-width: 768px;
    padding: 19px 20px;
  }

  .footer-text {
    font-size: 12px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    min-width: 1280px;
  }
}

/* Modal */

.onePerson {
  margin: 10px;
}
.personPhoto {
  object-fit: cover;
}
.aboutPerson {
  text-align: left;
  background-color: var(--primaryWhiteColor);
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.05));
}
.personName {
  margin-bottom: 6px;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
}
.personPosition {
  margin-bottom: 10px;
  color: var(--textColor);
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 12px;
  line-height: 1;
}
.personText {
  font-weight: 400;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .onePerson {
    width: 280px;
  }
  .personPhoto {
    width: 280px;
    height: 244px;
  }
  .aboutPerson {
    padding: 20px 20px 22px 20px;
  }
  .personText {
    font-size: 12px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 768px) {
  .onePerson {
    width: 352px;
  }
  .personPhoto {
    width: 352px;
    height: 244px;
  }
  .aboutPerson {
    padding: 21px 30px;
  }
  .personText {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1280px) {
  .onePerson {
    width: 232px;
  }
  .personPhoto {
    width: 232px;
    height: 244px;
  }
  .aboutPerson {
    padding: 21px 29px;
    height: 162px;
  }
  .personName {
    font-weight: 700;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.3;
  }
  .personText {
    font-size: 12px;
    line-height: 1.3;
  }
}
